.input {
  width: 100%;
  background-color: #1C1924;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input input {
  background-color: inherit;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-left: 8px;
  max-width: 180px;
}

.value {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-left: 8px;
  max-width: 180px;
}

.currencies {
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.currency {
  position: absolute;
  top: 20px;
  left: -16px;
  background-color: #1C1924;
  padding: 8px;
  border-radius: 8px;
}

.currency > div {
  padding: 8px;
}

.activeCurrency {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.activeCurrency span {
  color: #A6A0BB;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-right: 8px;
}

.max {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.max > span:first-child {
  color: #A6A0BB;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

.max > span:last-child {
  color: #7A7099;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-align: right;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}