html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro','Poppins', sans-serif, monospace;
  color: white;
  background: #131118;
}

input {
  color: #fff;
}

body {
  max-width: 480px;
  margin: auto;
  position: relative;
  border-radius: 0 0 8px 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
