.header {
  display: flex;
  align-items: center;
  z-index: 44444;
  /* justify-content: space-between; */
}

.header span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-right: 14px;
}

.close, .arrow {
  display: flex;
  align-items: center;
}

.arrow {
  margin-right: 8px;
}

.close {
  margin-left: auto;
}

.title {
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 24px;
}

.block {
  margin: 24px 0;
  padding: 16px 24px;
  background: #1C1924;
  border-radius: 8px;
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet span {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A6A0BB;
}

.btnSmall {
  background: linear-gradient(74.31deg, #59FFAF 0%, #9E4EFF 80.73%);
  border-radius: 100px;
  padding: 4px 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  cursor: pointer;
  transition: all .3s;
}
.btnSmall:hover  {
  background: #A869ED;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.user span {
  background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0 16px;
}

.copy {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.copy > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.copy span {
  margin-right: 16px;
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #A6A0BB;
  margin-left: 8px;
}

.balance {
  display: flex;
  align-items: center;
}

.balance span {
  margin-left: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #A6A0BB;
}

.balanceItem {
  display: flex;
  margin-top: 24px;
  padding: 8px 0;
  padding-left: 4px;
}

.balanceItem span {
  margin-left: 16px;
}