
.tab {
  background-color: #1C1924;
  padding: 12px 22px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
  /* min-width: 70px; */
  scroll-snap-align: start;
}

.disbled {
  background-color: #1C1924;
  padding: 12px 22px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
  /* min-width: 70px; */
  opacity: .5;
  scroll-snap-align: start;
}

.tab:nth-child(2), .activeTab:nth-child(2) {
  margin: 0 8px;
}

.tab span {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  background: linear-gradient(74.31deg, #59FFAF 0%, #9E4EFF 80.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.activeTab {
  background: linear-gradient(74.31deg, #59FFAF 0%, #9E4EFF 80.73%);
  padding: 12px 22px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3;
  width: 100%;
  /* min-width: 70px; */
  scroll-snap-align: start;
}

.activeTab span {
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
  font-size: 12px;
}